/* Общие стили */
* {
    color: white;

    font-family: "Metal Mania";
    font-weight: 400;
    font-style: normal;
}

body{
    height: 100vh;
    background: url("../images/background.jfif") no-repeat center fixed;
}

#first_page{
    height: 100vh;
}

.glass{
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.42);
}

/* Стили шапки */
header{
    display:flex;
    position: sticky;
}

.logo__about{
    display:flex;
    position: sticky;

    margin-top: 100px;
}

.logo__armies{
    display:flex;
    position: sticky;

    margin-top: 100px;
}

.logo__winrate{
    display:flex;
    position: sticky;

    margin-top: 100px;
}

.logo__letsplay{
    display:flex;
    position: sticky;

    margin-top: 100px;
}

.logo__image{
    width: 200px;
    position: relative;
    left: 10px;
}

.logo__text{
    font-size: 60px;
    margin: 0px;

    display: flex;
    align-self: center;

    position: relative;
    left: 10px;
}

.navigation{
    position: absolute;
    right: 10px;

    display: flex;
    align-self: center;
}

.navigation__element{
    font-size: 30px;
    padding: 10px;
}

/* Стили заголовков */
.title__h1{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    margin: 0px;
    font-size: 60px;
}

.title__h2{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 0px;
    font-size: 30px;
}

.title__h3{
    display: flex;
    justify-content: center;

    font-size: 60px;

    margin: 0;
}

.title__h4{
    font-size: 50px;
    margin: 0;
}

/* Стили страниц */
.about{

}

.about__card{
    width: 300px;
}

.about__content{
    display: flex;
    padding: 10px;
    gap: 16px;
}

.about__content__text{
    padding: 10px;
}

.about__content__armies{
    display: flex;
    justify-content: center; 
    gap: 45px;   
}

.army{
    height: 100vh;
}

.army_selection{
    text-align: center;
}

.preview{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.preview__content{
    display: flex;
    gap: 2px;

    margin-top: 20px;
    margin-bottom: 30px;
}

.preview__content__quote{
    font-style: italic;
}


/* Стили футера */
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.footer__armies{
    position: relative;

    bottom: -30px;
    
}

/* Стили картинок */
.image{
    width: 300px;
    border-radius: 15px;
}

.image__me{
    max-width: 300px;
    min-width: 300px;
    border-radius: 15px;
}

.image__army{
    width: 300px;
    border-radius: 15px;
    filter: blur(8px);    
}

.image__army:hover{
    filter: none;
    transition: filter 0.5s ease-in-out;
}

.image__sample{
    width: 60px;
    border-radius: 5px;
}

/* Стили кнопок */
button{
    background-color:black; 
    font-size: 30px;
    float: right;
    border-radius: 15px;  
    margin: 8px; 
}

button:hover{
    background-color: red;
}